<div class="page-header">
  <h1>
    Dishes
    <a href="/dishes/new" class="btn btn-lg btn-success">New Dish</a>
    <a href="/venues/new" class="btn btn-lg btn-success">New Venue</a>
  </h1>
</div><div class="row mb-1">
  <div class="col-md-12">
    <%= search_form_for @q, :class => "collapse", :id => "dishes_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

      <script type="text/javascript">
          $(function () {
              $('#created_atgteqPicker').datetimepicker({
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atlteqPicker').datetimepicker({
                  useCurrent: false,
                  format: 'YYYY-MM-DD hh:mm:SS'
              });
              $('#created_atgteqPicker').on("dp.change", function (e) {
                  $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
              });
              $('#created_atlteqPicker').on("dp.change", function (e) {
                  $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
              });
          });
      </script>

      <div class="form-group">
        <label for="q_cuisine_id_eq_any">Cuisine</label>

        <% Cuisine.all.each do |cuisine| %>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="q[cuisine_id_eq_any][]" id="q_cuisine_id_eq_any_" value="<%= cuisine.id %>" />
              <%= cuisine.name %>
            </label>
          </div>
        <% end %>
      </div>


      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/dishes" class="btn btn-secondary btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#dishes_filters">
      Show Filters
    </a>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th> The very best ... </th>
        <th>...is at </th>
        <th>Cuisine</th>
        <th>Actions</th>
      </tr>

      <% @dishes.each do |dish| %>
      <tr>
        <td><a href="/dishes/<%=dish.id%>"><%= dish.name %></a></td>
        <td>
          <form action="/create_bookmark" method="post">
            <!-- Label and input for movie_id -->
            <div class="form-group">
              <input type="hidden" name="dish_id" value="<%= dish.id %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
            </div>
            <button class="btn btn-block btn-outline-secondary">
              Create bookmark
            </button>
          </form>
        </td>
        <td>
          <% if dish.cuisine.present? %>
            <a href="/cuisines/<%= dish.cuisine.id %>">
              <%= dish.cuisine.name %>
            </a>
          <% end %>
        </td>
        <td>
          <a href="/dishes/<%= dish.id %>" class="btn btn-primary">Show</a>
          <a href="/dishes/<%= dish.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_dish/<%= dish.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @dishes, theme: 'twitter-bootstrap-4' %>
  </div>
</div>