 <div class="container mt-4">


    <div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          You loved the <%= @dish.name %> at...
        
          <% if @dish.cuisine.present? %>
            <div class="badge badge-primary float-right">
              <%= @dish.cuisine.name %>
            </div>
            <% end %>
        </h4>
      </div>

      <ul class="list-group">
        <li class="list-group-item">
          
          <form action="/create_bookmark" class="form-inline float-left" method="post">
            
            
              <input type="hidden" name="dish_id" value="<%= @dish.id %>">
              <input type="hidden" name="user_id" value="<%= current_user.id %>">
              <div class="form-group mr-sm-1">
              <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
              </div>
              <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
            
            
          </form>
          
          <small class="float-right text-muted">
            right now
          </small>
        </li>
          <% current_user.bookmarks.where(:dish_id => @dish.id).each do |bookmark| %>
          <li class="list-group-item">
            <p>
              
              <a href="/venues/<%= bookmark.venue_id %>">
                <%= bookmark.venue.name %>
              </a>

              <small class="float-right text-muted">
                <%= time_ago_in_words(bookmark.updated_at) %> ago

                <a href="/bookmarks/<%= bookmark.id %>/edit">
                  <i class="fa fa-fw fa-edit"></i>
                </a>

                <a href="/delete_bookmark/<%= bookmark.id %>">
                  <i class="fa fa-fw fa-trash-o"></i>
                </a>
              </small>
            </p>

          </li>
          <% end %>
      </ul>

      <div class="card-footer text-center">
        <a href="/dishes" class="btn btn-block btn-secondary">
          <i class="fa fa-chevron-left"></i>
        </a>
      </div>
    </div>
  </div>
</div>

</div>